.movies-item{
  background: $c-white;
  @include sombra(-0.5px, 1.5px, 4.5px, 125, 125, 125, 0.15);
  @include redondeado(1.5px,1.5px,1.5px,1.5px);
  margin-bottom: 35px;
  &__link{
    text-decoration: none;
    color: $c-dark;
    font-weight: 300;
  }
  &__content{
    padding: 15px;
    height: 55px;
    line-height: 0.8;
    @include tablet-min{
      height: 70px;
    }
  }
  &__genre{
    font-size: 13px;
    color: $c-yellow;
    display: inline-flex;
    margin: 0;
    padding: 0;
    &::after{
      content: ',';
      margin-right: 5px;
    }
    &:last-of-type::after{
      content: '';
      margin-right: 0;
    }
  }
//   &__poster{
//     transition: transform 0.5s ease, box-shadow 0.5s ease;
//     transform: translateZ(0);
//     background: $c-white;
//   }
//   &__img{
//     width: 100%;
//     opacity: 0;
//     transform: scale(0.97) translateZ(0);
//     transition: opacity 0.5s ease, transform 0.5s ease;
//     &.is-loaded{
//       opacity: 1;
//       transform: scale(1);
//     }
//   }
//   &__link:not(.no-image):hover &__poster{
//     transform: scale(1.03);
//     box-shadow: 0 0 10px rgba($c-dark, 0.1);
//   }
  &__title{
    margin: 0 0 4px 0;
    font-size: 11px;
    letter-spacing: 0.2px;
    transition: color 0.5s ease;
    text-transform: uppercase;
    @include mobile-ls-min{
      font-size: 14px;
      line-height: 14px;
    }
    @include tablet-landscape-min{
      font-size: 16px;
      line-height: 16px;
    }
  }
  &__link:hover &__title{
    color: $c-dark;
  }
}